.header {
    width: 100%;
    height: 70px;
    line-height: 70px;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.logo img {
    width: 24px;
    height: 24px;
}

.logo h1 {
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-color);
}

.logo h1 a:hover {
    color: var(--primary-color);
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 43px;
    margin-bottom: 0;
}

.nav-item a {
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

.nav-icons {
    display: flex;
    column-gap: 20px;
}

.nav-icons span i {
    font-size: 19px;
    color: var(--primary-color);
    cursor: pointer;
}

.cart-icon,
.fav-icon {
    position: relative;
}

.badge {
    position: absolute;
    top: 25%;
    right: -30%;
    width: 14px;
    height: 14px;
    background: var(--primary-color);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 600;
    z-index: 10;
    cursor: pointer;
    outline: 1px solid white;
}

.nav-icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-bottom: 8px;
}

.mobile-menu {
    font-size: 20px;
    color: var(--primary-color);
    display: none;
}

.nav-active {
    font-weight: 700 !important;
}

.sticky-header {
    width: 100%;
    height: 70px;
    line-height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 3px 3px 8px -3px #ddd;
    background: white;
}


@media screen and (max-width:768px) {
    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #00000079;
        z-index: 9999;
        display: none;
    }

    .menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background: white;
        z-index: 99999;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .active-menu {
        display: block;
    }

    .mobile-menu {
        display: block;
    }

    .mobile-menu span i {
        font-size: 18px !important;
    }

    .logo img {
        width: 20px;
        height: 20px;
    }

    .logo h1 {
        font-size: 16px;
    }

    .fav-icon i,
    .cart-icon i {
        font-size: 20px !important;
    }

    .badge {
        font-size: 9px;
    }

    .nav-icons span img {
        width: 25px;
        height: 25px;
        margin-top: 5px;
    }

    .header {
        width: 100%;
        height: 60px;
        line-height: 60px;
    }
}