.footer{
    padding-top: 60px;
    padding-bottom: 30px;
    background: var(--primary-color);
}

.footer-text{
    margin-top: 10px;
    line-height: 30px;
    color:  rgba(255, 255, 255, 0.76);
    margin-right: 70px;
}

.footer-quick-links li{
    background: transparent !important;
    color:  rgba(255, 255, 255, 0.76);
}

.footer-quick-links li a:hover{
    color: rgb(25, 80, 157);
}

.quick-links-titles{
    margin-bottom: 20px;
    color: white;
    font-size: 18px;
}

.footer-copyright{
    color:  rgba(255, 255, 255, 0.76);
    font-size: 14px;
    margin-top: 50px;
    text-align: center;
}